* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

#fix {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

/*主页*/
.title {
    font-size: 20px;
    font-weight: 700;
}

.group {
    font-size: 20px;
    color: gold;
}

/*记忆*/
.el-carousel__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.title2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    width: 25rem;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    table-layout: fixed;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text2 {
    width: 25rem;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
    white-space: normal;
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
    /*编辑*/

    /*关于*/